<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='index.css', v=1)}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<div class="container">
    <form action="/findURL" method="post">
        <div class="mb-5 mt-3">
            <label class="form-label">Поиск</label>
            <div class="row">
                <div class="col">
                    <input class="form-control" type="text" name="word" id="word" placeholder="Слово">
                </div>
            </div>
        </div>
    </form>
    <div class="">
        {% for link, word in word_links %}
            <a href="{{ link }}">{{ word }}</a>
        {% endfor %}
    </div>
</div>

</body>
</html>
